
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3 style="color: orange; font-weight: bold">Cote Management</h3>
            </div>
            <div class="title_right" style="float: right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="variableFind" (ngModelChange)="search()" >
                    </div>
                </div>
                <div>
                    <span *ngIf="message" style="color: red; font-size: 12px; font-weight: bold">
                    {{message}}
                    </span>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="col-md-12 col-sm-12  ">
            <div class="x_panel">
                <div class="x_title">

                    <ul class="nav navbar-right panel_toolbox">

                        <div style="margin-left: 15px">
                            <button href="#add" data-toggle="modal" class="btn btn-sm btn-success" type="button">Add New Cote
                                <a href="#add" data-toggle="modal"><i style="color: white" class="fa fa-plus"></i></a></button>
                        </div>
                        <li><a class="collapse-link">Collapse<i class="fa fa-chevron-up"></i></a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr class="headings" style="font-size: 15px">
                                <th class="column-title"># </th>
                                <th class="column-title">Cote Code </th>
                                <th class="column-title">Staff Name </th>
                                <th class="column-title">Herd Code </th>
                                <th class="column-title">Day Start </th>
                                <th class="column-title">Day End </th>
                                <th class="column-title">Quantity </th>
                                <th class="column-title">Day | Status </th>
                                <th class="column-title no-link last"><span class="nobr">Action</span>
                                </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr class="even pointer" *ngFor="let cote of coteList; let i = index">
                                <td class=" ">{{i+1}}</td>
                                <td class=" " *ngIf="cote.quantity !=0"><a href="#informHerd" data-toggle="modal" (click)="getInfoPig(cote)">{{cote.coteCode}}</a></td>
                                <td class=" " *ngIf="cote.quantity == 0">{{cote.coteCode}}</td>
                                <td class=" ">{{cote.employeeName}}</td>
                                <td class=" ">{{cote.herdName}} </td>
                                <td class=" ">{{cote.importDate | date: 'dd-MM-yyyy'}} </td>
                                <td class=" " *ngIf="cote.exportDate != ''">{{cote.exportDate | date: 'dd-MM-yyyy'}} </td>
                                <td class=" " *ngIf="cote.exportDate == ''">  </td>
                                <td class=" ">{{cote.quantity}} </td>
                                <td class=" ">{{cote.day}} days | {{cote.status}}  </td>
                                <td class=" last">
                                    <a href="#edit" data-toggle="modal" (click)="getInfo(cote)" style="margin-right: 10px;">
                                        <i style=" color: #1abb9c;font-size: 17px" class="fa fa-edit"></i></a>
<!--                                    <a href="#delete" data-toggle="modal" style="font-size: 17px;">-->
<!--                                        <i style=" color: #007bff;font-size: 17px" class="fa fa-trash-o"></i></a>-->
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>


<!--                    Pagination-->

                    <div class="x_content">
                        <div *ngIf="totalPage" class="clearfix">
                            <div>
                                Showing <b> {{ entityNumber }}</b> out of
                                <b>{{ totalEntities }}</b> entries
                                <div style="float: right">
                                    <ul class="pagination">
                                        <li>
                                            <a class="page-link" (click)="changePage(1)">First</a>
                                        </li>
                                        <li>
                                            <a class="page-link" (click)="prePage()">Previous</a>
                                        </li>
                                        <li>
                                            <div ngbDropdown class="d-inline-block" *ngIf="startPage != 1">
                                                <button
                                                        style="margin: 0"
                                                        class="page-link"
                                                        ngbDropdownToggle
                                                        (click)="prePage()"
                                                >
                                                    ...
                                                </button>
                                                <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                                                    <input
                                                            type="email"
                                                            class="form-control"
                                                            placeholder="page:"
                                                            [(ngModel)]="currentPage"
                                                            (ngModelChange)="changePage(currentPage)"
                                                    />
                                                </div>
                                            </div>
                                        </li>
                                        <li
                                                *ngFor="let i of listPage"
                                                class="page-item"
                                                [ngClass]="{ active: currentPage == i }"
                                        >
                                            <a class="page-link" (click)="changePage(i)">{{ i }}</a>
                                        </li>
                                        <li>
                                            <div
                                                    ngbDropdown
                                                    class="d-inline-block"
                                                    *ngIf="endPage != totalPage"
                                            >
                                                <button
                                                        style="margin: 0"
                                                        class="page-link"
                                                        ngbDropdownToggle
                                                        (click)="prePage()"
                                                >
                                                    ...
                                                </button>
                                                <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                                                    <input
                                                            type="email"
                                                            class="form-control"
                                                            placeholder="page:"
                                                            [(ngModel)]="currentPage"
                                                            (ngModelChange)="changePage(currentPage)"
                                                    />
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="page-link" (click)="nexPage()">Next</a>
                                        </li>
                                        <li>
                                            <a class="page-link" (click)="changePage(totalPage)">Last</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


<!--    test-->


<!--    edit-->

    <div id="edit" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form [formGroup]="editCoteForm" (ngSubmit)="EditCote(editCoteForm)">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Cote</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Code</label>
                            <input type="text" class="form-control" formControlName="code" readonly>
                        </div>
                        <fieldset formGroupName="dateGroup">
                            <div class="form-group">
                                <label>Day Start</label>
                                <input type="date" class="form-control" formControlName="importDate">
                            </div>
                            <div class="form-group">
                                <label>Day End</label>
                                <input type="date" class="form-control" formControlName="exportDate" >
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="editCoteForm.hasError('exportDay',['dateGroup'])">
                                Export Day must be greater than today 4 month or can be blank!!!
                            </div>
                        </fieldset>

                        <div class="form-group">
                            <label>Type</label>
<!--                            <input type="text" class="form-control" formControlName="type" required>-->
                            <select class="form-control" formControlName="type" required >
                                <option [ngValue]="coteEdit.type">{{coteEdit.type}}</option>
                                <option *ngFor="let type of typeList"  [ngValue]="type"  >{{type}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Employee</label>
                            <select class="form-control" formControlName="employee" required >
                                <option [ngValue]="coteEdit.employee">{{coteEdit.employee.name}}</option>
                                <option *ngFor="let employee of employeeList"  [ngValue]="employee"  >{{employee.name}}</option>
                            </select>
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="editCoteForm.get('employee').invalid &&
                                                                              editCoteForm.get('employee').touched">
                            Employee is required!
                        </div>
                        <div class="form-group">
                            <label>Herd</label>
                            <input *ngIf="!check" class="form-control" formControlName="herd" readonly>
                            <select *ngIf="check" class="form-control" formControlName="herd" required >
                                <option *ngFor="let herd of herdList" [ngValue]="herd">{{herd.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <button type="submit" class="btn btn-success" value="Save" [disabled]="editCoteForm.invalid">Save<i style="margin-left: 5px" class="fa fa-save"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--    add-->

    <div id="add" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form [formGroup]="addNewCoteForm" (ngSubmit)="AddNewCote(addNewCoteForm)">
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Cote</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Description: </label>
                            <input type="text" class="form-control" formControlName="description"  required>
                        </div>
                        <div class="form-group">
                            <label>Code</label>
                            <select class="form-control" formControlName="code" required >
                                <option *ngFor="let coteCode of coteCodeList"  [ngValue]="coteCode" >{{coteCode}}</option>
                            </select>
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="addNewCoteForm.get('code').invalid &&
                                                                              addNewCoteForm.get('code').touched">
                            Code is required!
                        </div>
                        <fieldset formGroupName="dateGroup">
                        <div class="form-group">
                            <label>Day Start</label>
                            <input type="date" class="form-control" formControlName="importDate" required>
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="addNewCoteForm.get('dateGroup').get('importDate').invalid &&
                                                                              addNewCoteForm.get('dateGroup').get('importDate').touched">
                            Import Day must be greater than today!!!
                        </div>
                        <div class="form-group">
                            <label>Day End</label>
                            <input type="date" class="form-control" formControlName="exportDate">
                        </div>
                            <div class="alert alert-danger" role="alert" *ngIf="addNewCoteForm.hasError('exportDay',['dateGroup'])">
                                Export Day must be greater than today 4 month or can be blank!!!
                            </div>
                        </fieldset>

                        <div class="form-group">
                            <label>Type</label>
                            <input type="text" class="form-control" formControlName="type" required>
                        </div>
                        <div class="form-group">
                            <label>Employee</label>
                            <select class="form-control" formControlName="employee" required >
                                <option *ngFor="let employee of employeeList"  [ngValue]="employee" >{{employee.name}}</option>
                            </select>
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="addNewCoteForm.get('employee').invalid &&
                                                                              addNewCoteForm.get('employee').touched">
                            Employee is required!
                        </div>
                        <div class="form-group">
                            <label>Herd</label>
                            <select class="form-control" formControlName="herd" required >
                                <option *ngFor="let herd of herdList" [ngValue]="herd">{{herd.name}}</option>
                            </select>
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="addNewCoteForm.get('herd').invalid &&
                                                                              addNewCoteForm.get('herd').touched">
                            Herd is required!
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <button type="submit" class="btn btn-success" value="Add" [disabled]="addNewCoteForm.invalid">Create<i style="margin-left: 5px" class="fa fa-save"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>




<!--    Xuat chuong-->

<div id="informHerd" class="modal fade">
    <div class="modal-dialog" style="max-width: 660px;">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Herd's Information</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="table-container">
                        <table class="table table-filter">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Code</th>
                                <th>Weight</th>
                                <th>Color</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let pig of pigListDTO">
                                <td>
                                    <div>
                                       <img src="../../assets/production/images/cute-pig-lying-down-looking-back_42750-237.png" style="width: auto; height: 75px">
                                    </div>
                                </td>
                                <td>
                                    <div style="padding-top: 30px">
                                        <p>{{pig.cote}} </p>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding-top: 30px">
                                        {{pig.weight}}
                                    </div>
                                </td>
                                <td>
                                    <div style="padding-top: 30px">
                                        {{pig.importDate}}
                                    </div>
                                </td>
                                <td>
                                    <div style="padding-top: 30px" *ngFor="let status of pig.status">
                                        {{status}}
                                    </div>
                                </td>
                                <td>
                                    <div style="padding-top: 20px">


                                        <input type="button"  class="btn btn-warning" data-dismiss="modal" (click)="addIdPigSold(pig.pigId)" href="#sold1" data-toggle="modal" value="Sold" >

                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">

                    <button type="submit" class="btn btn-success" value="Add" data-toggle="modal"  data-dismiss="modal" href="#soldAll" (click)="getAllIdPigs(pigListDTO)">Sold All</button>

                </div>
            </form>
        </div>
    </div>
</div>
<!--    hieu-->
    <!--    delete-->
    <div id="soldAll" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form [formGroup]="historyExport">
                    <div class="modal-header">
                        <h4 class="modal-title">Export Pigs</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Company:  </label>
                            <input type="text" class="form-control" formControlName="company"  required>
                            <div class="alert alert-danger" role="alert" *ngIf="historyExport.get('company').invalid &&
                                                                              historyExport.get('company').touched">
                                Company is required!
                            </div>
                        </div>
                        <input type="hidden" formControlName="type" value="cote">
                        <input type="hidden" formControlName="exportDate" value="">
                        <div class="form-group">
                            <label>Employee</label>
                            <select class="form-control" formControlName="employee" required >
                                <option *ngFor="let employee of employeeList" [ngValue]="employee">{{employee.name}}</option>
                            </select>
                            <div class="alert alert-danger" role="alert" *ngIf="historyExport.get('employee').invalid &&
                                                                              historyExport.get('employee').untouched">
                                Employee is required!
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <button type="submit" class="btn btn-success" value="Add" data-dismiss="modal" [disabled]="historyExport.invalid" (click)="soldPig()">Export<i style="margin-left: 5px" class="fa fa-save"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--    delete-->
    <div id="sold1" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form [formGroup]="historyExport">
                    <div class="modal-header">
                        <h4 class="modal-title">Export Pigs</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Company:  </label>
                            <input type="text" class="form-control" formControlName="company"  required>
                        </div>
                        <input type="hidden" formControlName="type" value="cote">
                        <input type="hidden" formControlName="exportDate" value="">
                        <div class="form-group">
                            <label>Employee</label>
                            <select class="form-control" formControlName="employee" required >
                                <option *ngFor="let employee of employeeList" [ngValue]="employee">{{employee.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <button type="submit" class="btn btn-success" value="Add" data-dismiss="modal" (click)="sold1Pig()">Export<i style="margin-left: 5px" class="fa fa-save"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
