
<div style="background-image: url(assets/production/images/backgroundlogin.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;

    background-position: right;" class="login">
<div>


<div style="padding-top: 80px">
    <div class="login_wrapper" style="margin-top: 5px">
        <div class="animate form login_form" style="background-color: #000000eb;
    opacity: 0.9;
    padding: 0 20px;">
            <section class="login_content">
                <form [formGroup]="formLogin" >
                    <h1 style="color: #c9c2b2">Login Form</h1>
                    <div>
                        <input type="text" class="form-control" formControlName="username" placeholder="Username" required="" />
                    </div>
                    <div>
                        <input type="password" class="form-control" formControlName="password" placeholder="Password" required="" />
                    </div>
                    <p style="color: white" *ngIf="errorMessage">{{errorMessage}}</p>
                    <div>
                        <a style="color: white;border: 2px solid white;font-size: 17px" class="btn btn-default submit" (click)="login()">Log in</a>
<!--                        <a class="reset_pass" href="#">Lost your password?</a>-->
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">

                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <h1 style="color: #c9c2b2"><i class="fa fa-paw"></i> C04 PIGGY FARM !</h1>
                            <p style="color: #c9c2b2">©2020 All Rights Reserved. C04 Piggy Farm. Privacy and Terms</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>

    </div>
</div>
</div>


