
<div class="page-title">
    <div class="title_right" style="float: right">
        <div class="col-md-5 col-sm-5   form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="search" (ngModelChange)="searchPig()" >
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12 col-sm-12  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Pig Management</h2>
            <ul class="nav navbar-right panel_toolbox">
<!--                <div style="margin-left: 15px">-->
<!--                    <input type="checkbox" [checked]="onNewBornChange()">-->
<!--                </div>-->
                <div style="margin-left: 15px">
                    <button title="add" class="btn btn-sm btn-success" type="button" href="#add" data-toggle="modal">Add new pig</button>
                </div>
                <div style="margin-left: 15px">
                    <button class="btn btn-sm btn-danger" type="button" (click)='fdelete()'>Delete Pig</button>
                </div>
                <li><a class="collapse-link">Collapse <i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action ">
                    <ng-container >
                        <thead>
                            <th>
                  <span class="customcheckbox">
                    <input type="checkbox" id="selectAll" (click)='isSelectAll()'>
                    <label for="selectAll"></label>
                  </span>
                            </th>

                            <th class="column-title" >#</th>

                            <th class="column-title" >Pig Code</th>

                            <th class="column-title" >Cote Name</th>

                            <th class="column-title" >Import date</th>

                            <th class="column-title" >Status</th>

                            <th class="column-title" >Weight</th>

                            <th class="column-title" >Action</th>
                        </thead>
                        <tbody>
                        <tr class="even pointer" *ngFor="let pig of pigList; let i = index">
                            <td>
                  <span class="customcheckbox">
                    <input type="checkbox" id="cb" [value]="pig['pigId']" (click)='checkit()'>
                    <label></label>
                  </span>
                            </td>

                            <td> {{(i+1)}}</td>

                                <td> {{pig.codePig}}</td>

                                <td> {{pig.cote}}</td>

                                <td> {{pig.importDate}}</td>

                                <td> {{pig.status.length}} status</td>

                                <td> {{pig.weight}} kg</td>

                            <td>
                                <a  class="action" title="edit" style="margin-left: 10px;  " href="#edit" data-toggle="modal" (click)="editPig(pig)">
                                    <i style=" color: #077cf9;font-size: 17px" class="fa fa-edit"></i></a>
                                <a class="action" title="delete" style="margin-left: 10px;" (click)="onDelete(pig)">
                                    <i style=" color: #dc3545;font-size: 17px" class="fa fa-trash"></i></a>
                                <a class="action" title="view" style="margin-left: 10px;">
                                    <i style=" color: #26b99a;font-size: 17px" class="fa fa-eye"></i></a>
                            </td>

                        </tr>
                        </tbody>
                    </ng-container>
                </table>
            </div>
        </div>

        <div *ngIf="listPage" class="clearfix">
            <div>Showing
                <b> {{currentItems}}</b> out of <b>{{totalItems}}</b> entries
                <div style="float: right">
                    <ul class="pagination" >
                        <li>
                            <a class="page-link" (click)='changePage(1)' >First</a>
                        </li>
                        <li>
                            <a class="page-link" (click)='previous()'>Previous</a>
                        </li>
                        <li>
                            <div ngbDropdown class="d-inline-block" *ngIf="startPage != 1">
                                <button style="margin: 0" class="page-link" ngbDropdownToggle (click)='previous()'>...</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                                    <input type="email" class="form-control"  placeholder="page:" [(ngModel)]="currentPage" (ngModelChange)="changePage(currentPage)" >
                                </div>
                            </div>
                        </li>
                        <li *ngFor="let i of listPage" class="page-item" [ngClass]="{active:currentPage == i}">
                            <a class="page-link" (click)="changePage(i)">{{i}}</a>
                        </li>
                        <li>
                            <div ngbDropdown class="d-inline-block" *ngIf="endPage != totalPage">
                                <button style="margin: 0" class="page-link" ngbDropdownToggle (click)='previous()'>...</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                                    <input type="email" class="form-control"  placeholder="page:" [(ngModel)]="currentPage" (ngModelChange)="changePage(currentPage)" >
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="page-link" (click)='next()'>Next</a>
                        </li>
                        <li>
                            <a class="page-link" (click)='changePage(totalPage)'>Last</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<!--    edit-->

<div id="edit" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="editNewPigForm">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Pig</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Id: </label>
                        <input type="text" class="form-control" formControlName="id"  readonly>
                    </div>
                    <div class="form-group">
                        <label>Description: </label>
                        <input type="text" class="form-control" formControlName="description"  >
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label>isDelete</label>-->
<!--                        <input type="text" class="form-control" formControlName="isDeleted" readonly>-->
<!--                    </div>-->
                    <div class="form-group">
                        <label>Code</label>
                        <input type="text" class="form-control" formControlName="code" >
                    </div>
                    <div class="form-group">
                        <label>Import Date</label>
                        <input type="date" class="form-control" formControlName="importDate" >
                    </div>
                    <div class="form-group">
                        <label>Export Date</label>
                        <input type="date" class="form-control" formControlName="exportDate">
                    </div>
                    <div class="form-group">
                        <label>Species</label>
                        <input type="text" class="form-control" formControlName="spec" >
                    </div>
                    <div class="form-group">
                        <label>Color</label>
                        <input type="text" class="form-control" formControlName="color" >
                    </div>
                    <div class="form-group">
                        <label>Gender</label>
                        <select class="form-control" formControlName="gender" >
                            <option value="1">Male</option>
                            <option value="0">Femele</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Cote</label>
                        <select class="form-control" formControlName="cote" >
<!--                            <option *ngFor="let cote of coteList" [ngValue]="pig.cote" hidden>{{pig.cote.code}}</option>-->
                            <option *ngFor="let cote of coteList" [ngValue]="cote">{{cote.code}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Herd</label>
                        <select class="form-control" formControlName="herd" >
<!--                            <option *ngFor="let herd of herdList" [ngValue]="pig.herd" hidden>{{pig.herd.name}}</option>-->
                            <option *ngFor="let herd of herdList" [ngValue]="herd">{{herd.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Feed</label>
                        <select class="form-control" formControlName="feed"  >
<!--                            <option *ngFor="let feed of feedList" [ngValue]="pig.feed" hidden>{{pig.feed.feedTypeName + pig.feed.amount}}</option>-->
                            <option *ngFor="let feed of feedList" [ngValue]="feed">{{feed.feedTypeName + feed.amount}}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <button type="submit" (click)="editPigConfirm()" data-dismiss="modal" class="btn btn-success" value="Add">Edit<i style="margin-left: 5px" class="fa fa-save"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--    add-->

<div id="add" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="addNewPigForm">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Pig</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Description: </label>
                        <input type="text" class="form-control" formControlName="description"  >
                    </div>
                    <div class="form-group">
                        <label>Code</label>
                        <input type="text" class="form-control" formControlName="code" >
                    </div>
                    <div class="form-group">
                        <label>Import Date</label>
                        <input type="date" class="form-control" formControlName="importDate" >
                    </div>
                    <div class="form-group">
                        <label>Export Date</label>
                        <input type="date" class="form-control" formControlName="exportDate">
                    </div>
                    <div class="form-group">
                        <label>Species</label>
                        <input type="text" class="form-control" formControlName="spec" >
                    </div>
                    <div class="form-group">
                        <label>Color</label>
                        <input type="text" class="form-control" formControlName="color" >
                    </div>
                    <div class="form-group">
                        <label>Gender</label>
                        <select class="form-control" formControlName="gender" >
                            <option value="1">Male</option>
                            <option value="0">Femele</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Cote</label>
                        <select class="form-control" formControlName="cote" >
                            <option *ngFor="let cote of coteList" [ngValue]="cote">{{cote.code}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Herd</label>
                        <select class="form-control" formControlName="herd" >
                            <option *ngFor="let herd of herdList" [ngValue]="herd">{{herd.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Feed</label>
                        <select class="form-control" formControlName="feed"  >
                            <option *ngFor="let feed of feedList" [ngValue]="feed">{{feed.feedTypeName + feed.amount}}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <button type="submit" data-dismiss="modal" (click)="addPig()" class="btn btn-success" value="Add">Create<i style="margin-left: 5px" class="fa fa-save"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--    delete-->
<!--<div id="delete" class="modal fade">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <form>-->
<!--                <div class="modal-header">-->
<!--                    <h4 class="modal-title">Delete Employee</h4>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    <p>Are you sure you want to delete these Records?</p>-->
<!--                    <p class="text-warning"><small>This action cannot be undone.</small></p>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">-->
<!--                    <input type="submit" class="btn btn-danger" value="Delete">-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
